
body {
  font-family: 'Alexandria';
}
.row {
  width: 100%;
  margin-left: 0px;
}
img {
  width: 100%;
}
h1, h2 {
  color: #0077b6;
}
p {
  font-size: 20px;
}
h2 {
  font-size: 34px;
}
.page-header > h1 {
  font-size: 43px;
}
#video-overlay {
  position: absolute;
  width: 50%;
  top: 32%;
  left: 50%;
}
#video-overlay > h1 {
  font-size: 60px;
}
#video-overlay > p {
  font-size: 30px;
}
nav {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-width: 0px !important;
  background-color: #c9f0f8 !important;
  margin-bottom: 0px !important;
}
nav li {
  padding-left: 2px;
  padding-right: 2px;
}
nav a {
  color: black !important;
}
nav a:not(.navbar-brand) {
  border-bottom-style: solid;
  border-bottom-color: #00abcd;
  border-bottom-width: 0px;
  padding-bottom: 2px;
/*   margin-bottom: 15px; */
  padding-left: 1px !important;
  padding-right: 1px !important;
  margin-left: 4px;
  margin-right: 4px;
  transition: border-bottom-width 0.2s; /* MAKE SURE TO COME BACK TO THIS!!!!!!!!!!!!!!!*/
}
nav a:not(.navbar-brand):hover {
/*   margin-bottom: 11px; */
  border-bottom-width: 4px;
  text-decoration: none;
}
nav li {
  position: relative;
}
.navbar-brand {
  padding-top: 1px;
  padding-bottom: 7px;
}
.in ul:not(.dropdown-menu), .collapsing ul:not(.dropdown-menu) {
  display: block !important;
}
@media (min-width: 768px) and (max-width: 1281px) {
  nav ul {
    display: none;
  }
/*   .navbar-collapse.collapse {
    display: none !important;
  } */
  .navbar-toggle {
    display: block !important;
  }
  .navbar-header {
    float: none;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav {
    margin: 7.5px -15px;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

video {
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.p-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.subtitle  {
  color: gray;
  font-size: 17px;
}

.pfooter {
  background-color: #404040;
  color: white;
  font-size:16pt;
}

.text-center{
  text-align:center;
}
@media (max-width: 1364px) and (min-width: 768px) {
  nav ul {
    display: none;
  }
  .navbar-toggle {
    display: block !important;
  }
  .navbar-header {
    float: none;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav {
    margin: 7.5px -15px;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
