@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');




.carousel-item.active {
    margin-right: -25%;
}

.carousel-main {
  display: flex; 
  justify-content: center; 
  align-items: center;
    overflow-x: hidden;
  overflow-y: hidden;
  
}

.carousel-img {
  width: 50%;
  height: 50%;
  margin-left: -100%;
    overflow-x: hidden;
  overflow-y: hidden;
  
}

button.carousel-control-next {
    right: 20%;
}


button.carousel-control-prev{
   left: 20%;
}

h1 {
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;

}

.center{
  padding-top: 17%;
  font-size: 100px;
}

.gary{
  background-color: #0D1321;
}

.imgborder{
  border-style: solid;
  border-color: #000000;
  border-radius: 15px;
  border-width: 5px;
}

#shop{
  background-image: url("https://i.imgur.com/8xPacW5.png");
  background-size: cover;
  height: 400px;
  color:white;
}

#eg{
  background-image: url("https://i.imgur.com/UqJPjLe.jpeg");
  background-size: cover;
  height: 400px;
  color:white;
}

.title1 {
 text-align: center;
   padding: 70px 0;
}

#jumbo1 {
  text-align: left; 
  font-size: 20px;
}

#image1 {
  width:100%;
  height:100%;
   object-fit:cover;
   object-position:50% 50%; 
}

#section2 {
  background-color: #787878;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10%;
}

#section2img {
  background-color: #787878;
  padding-left: 55px;
  padding-right: 55px;
}



.section3 {
  background-color: #787878;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10%;
}

.section4 {
  background-color: #787878;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 5%;
}

.arrow-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: inline-block;
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 24px;
    overflow-x: hidden;
  overflow-y: hidden;
}

.pfooter {
  background-color: #404040;
  color: white;
    overflow-x: hidden;
  overflow-y: hidden;
}

.container-fluid.section01 {
      padding-top: 2%;
      padding-bottom: 70px;
    }
.bg-3 {
      background-color: #44536a; 
      /* White */
      color: #ffffff;
    }
.bg-2 {
      background-color: #2b3a50; 
      /* Dark Blue */
      color: #ffffff;
    }
.bg-1 {
      background-color: #1D2D44; 
      /* Green */
      color: #ffffff;
    }

.bg-4 {
      background-color: #0D1321;
      /* Green */
      color: #ffffff;
    }

nav a:not(.navbar-brand) {
  border-bottom-style: solid;
  border-bottom-color: #00abcd;
  border-bottom-width: 0px;
  padding-bottom: 2px;
  margin-bottom: 15px;
  margin-top:15px;
  padding-top:2px;
  padding-left: 1px !important;
  padding-right: 1px !important;
  margin-left: 4px;
  margin-right: 4px;
/*   transition: border-bottom-width 0.2s, margin-bottom 0.2s;  MAKE SURE TO COME BACK TO THIS!!!!!!!!!!!!!!! */
}

nav a:not(.navbar-brand):hover {
  margin-bottom: 10px;
  border-bottom-width: 4px;
  text-decoration: none;
}




